.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  font-size: 1.2rem;
  margin-right: 20px;
}

.navLink.active {
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
}
