.rocketContainer {
  display: flex;
  padding: 2rem;
}

.rocketLeft {
  margin-right: 1rem;
  width: 20%;
}

.reservedSpan {
  margin-right: 0.8rem;
}

.description {
  line-height: 1.5;
}

.reservedSpanBtn {
  background-color: rgb(86, 191, 244);
  border: none;
  padding: 3px;
  font-size: 0.7rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.rocketRight > * {
  margin-bottom: 1rem;
}

.reserveRocketBtn {
  border: none;
  color: white;
  background-color: rgb(86, 86, 244);
  padding: 10px;
  border-radius: 5px;
}

button {
  cursor: pointer;
}
